<p Style="text-align: right">20/10/23 </p>
<center><img src='logo.png'></center>

<center><h1>Proyecto Final </h1></center>
<center><h4> 3C-2023 Data Analitycs </h4></center>
</br>
<h1> Bienes Raices </h1>
<h1> Kattia Saborìo Quesada </h1>

<img src='informacion.png'><p>Información General </p>
</br>
<p> Requerimientos </p>
</br>
<p Style="text-align: justify"> Durante los años 2021 y 2022 la empresa PK2, ha estado analizando 
incursionar en la venta de Bienes Rices en los Estados Unidos, siendo que 
previo a tomar una decisión respecto a dar inicio con las operaciones de 
venta de propiedades se procedió a recopilar información relacionada con 
el sector de bienes raíces de USA.
Como resultado de la recopilación de los datos, PK2 identificó y consolido un 
set de datos con 200.000 observaciones, cada una de ellas conformadas por 
14 variables, es decir se generó un Data Set de 2.800.000 datos, razón por la 
cual se decidido contratar sus servicios para generar el proceso de análisis 
en pro de disponer de insumos para el proceso de toma de decisiones.
Particularmente la alta gerencia de PK2 desea disponer de información que 
le permita atender las siguientes interrogantes: </p>

<p>Variables :</p>
<p>14 variables</p>
<p>2.800.000 datos</p>


<p>1. ¿Cuál es el ingreso anual de las propiedades vendidas?</p>
<p>2. ¿Qué tipo de propiedad tiene mayor facilidad de venta?</p>
<p>3. ¿En cuál ciudad o pueblo se dan mayor cantidad de ventas de 
propiedades? Y ¿Qué elementos particulares tienen esas ciudades o 
pueblos?</p>
<p>4. ¿Cuál es el costo promedio de las propiedades residenciales y 
comerciales?</p>
<p>5. ¿Cuál es tipo de propiedades residenciales que se vende con mayor 
frecuencia, donde y con que costo promedio?</p>
<p>6. ¿Cuál es margen promedio de ganancia por cada una de las 
propiedades vendidas? </p>

</br>

<h2 Style = "color:#2e4347"> 1.Carga y estandarizacion de los set de datos</h2>

<p> Se realiza la carga de los set de datos para iniciar con la revision de la estructura general y de esta forma logar
crear un archivo donde se consoliden las diferentes fuentes identificadas.</p>

In [1]:
import pandas as pd # módulo para tratamiento de datos
import numpy as np # módulo para tratamiento de matrices
import matplotlib.pyplot as plt # módulo graficador

In [2]:
df=pd.read_excel("Libro3.xlsx")# todo lo que pandas lea

In [3]:
df.shape

(200336, 13)

In [4]:
df.head(5)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks
0,2020348.0,2020.0,09/13/2021,Ansonia,230 WAKELEE AVE,15050000.0,32500000.0,463.0,Commercial,NaN,NaN,NaN,NaN
1,20002.0,2020.0,10/02/2020,Ashford,390 TURNPIKE RD,25300000.0,43000000.0,5883.0,Residential,Single Family,NaN,NaN,NaN
2,200212.0,2020.0,03/09/2021,Avon,5 CHESTNUT DRIVE,13040000.0,17990000.0,7248.0,Residential,Condo,NaN,NaN,NaN
3,200243.0,2020.0,04/13/2021,Avon,111 NORTHINGTON DRIVE,61929000.0,89000000.0,6958.0,Residential,Single Family,NaN,NaN,NaN
4,200377.0,2020.0,07/02/2021,Avon,70 FAR HILLS DRIVE,86233000.0,144750000.0,5957.0,Residential,Single Family,NaN,NaN,NaN

In [5]:
df.tail(5)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks
200331,20763.0,2002.0,06/17/2003,West Haven,130 JONES ST,7070000.0,17900000.0,394972067.0,NaN,NaN,NaN,NaN,NaN
200332,21066.0,2002.0,07/22/2003,West Hartford,15 PORTER DR,24088000.0,51500000.0,467728155.0,NaN,NaN,NaN,NaN,NaN
200333,30531.0,2003.0,04/15/2004,East Hartford,43 TIFFANY RD,8033000.0,13000000.0,617923077.0,NaN,NaN,14,NaN,NaN
200334,30624.0,2003.0,03/03/2004,Bristol,81 ANDREWS ST,6923000.0,13000000.0,532538462.0,NaN,NaN,NaN,NaN,NaN
200335,30434.0,2003.0,02/06/2004,Greenwich,57 PROSPECT ST,18347000.0,37500000.0,489253333.0,NaN,NaN,NaN,NaN,NaN

In [6]:
df

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks
0,2020348.0,2020.0,09/13/2021,Ansonia,230 WAKELEE AVE,15050000.0,32500000.0,463.0,Commercial,NaN,NaN,NaN,NaN
1,20002.0,2020.0,10/02/2020,Ashford,390 TURNPIKE RD,25300000.0,43000000.0,5883.0,Residential,Single Family,NaN,NaN,NaN
2,200212.0,2020.0,03/09/2021,Avon,5 CHESTNUT DRIVE,13040000.0,17990000.0,7248.0,Residential,Condo,NaN,NaN,NaN
3,200243.0,2020.0,04/13/2021,Avon,111 NORTHINGTON DRIVE,61929000.0,89000000.0,6958.0,Residential,Single Family,NaN,NaN,NaN
4,200377.0,2020.0,07/02/2021,Avon,70 FAR HILLS DRIVE,86233000.0,144750000.0,5957.0,Residential,Single Family,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200331,20763.0,2002.0,06/17/2003,West Haven,130 JONES ST,7070000.0,17900000.0,394972067.0,NaN,NaN,NaN,NaN,NaN
200332,21066.0,2002.0,07/22/2003,West Hartford,15 PORTER DR,24088000.0,51500000.0,467728155.0,NaN,NaN,NaN,NaN,NaN
200333,30531.0,2003.0,04/15/2004,East Hartford,43 TIFFANY RD,8033000.0,13000000.0,617923077.0,NaN,NaN,14,NaN,NaN
200334,30624.0,2003.0,03/03/2004,Bristol,81 ANDREWS ST,6923000.0,13000000.0,532538462.0,NaN,NaN,NaN,NaN,NaN
200335,30434.0,2003.0,02/06/2004,Greenwich,57 PROSPECT ST,18347000.0,37500000.0,489253333.0,NaN,NaN,NaN,NaN,NaN

In [7]:
df.describe()

,Serial Number,List Year,Assessed Value,Sale Amount,Sales Ratio
count,2.003340e+05,199998.000000,1.999930e+05,1.999930e+05,1.999930e+05
mean,1.114479e+06,2007.821553,2.207152e+07,3.917854e+07,3.315238e+08
std,1.272892e+07,8.655682,1.167706e+08,1.129725e+09,5.379511e+08
min,0.000000e+00,2001.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.097300e+04,2001.000000,6.916100e+06,1.300000e+07,5.781000e+03
50%,2.040300e+04,2002.000000,1.098900e+07,2.150000e+07,3.260916e+08
75%,2.000610e+05,2020.000000,1.874300e+07,3.550000e+07,5.171552e+08
max,2.000500e+09,2020.000000,1.149242e+10,5.000000e+11,9.999574e+09

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200336 entries, 0 to 200335
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     200334 non-null  float64
 1   List Year         199998 non-null  float64
 2   Date Recorded     199996 non-null  object
 3   Town              199998 non-null  object
 4   Address           199994 non-null  object
 5   Assessed Value    199993 non-null  float64
 6   Sale Amount       199993 non-null  float64
 7   Sales Ratio       199993 non-null  float64
 8   Property Type     66783 non-null   object
 9   Residential Type  60935 non-null   object
 10  Non Use Code      45747 non-null   object
 11  Assessor Remarks  14344 non-null   object
 12  OPM remarks       1981 non-null    object
dtypes: float64(5), object(8)
memory usage: 19.9+ MB

<h2 Style = "color:#2e4347"> 2. Revision de encabesados de los datos </h2>

In [9]:
df.columns

Index(['Serial Number', 'List Year', 'Date Recorded', 'Town', 'Address',
       'Assessed Value', 'Sale Amount', 'Sales Ratio', 'Property Type',
       'Residential Type', 'Non Use Code', 'Assessor Remarks', 'OPM remarks'],
      dtype='object')

In [10]:
df.replace('NaN', np.nan,inplace=True)
df.head(10)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks
0,2020348.0,2020.0,09/13/2021,Ansonia,230 WAKELEE AVE,15050000.0,32500000.0,463.0,Commercial,NaN,NaN,NaN,NaN
1,20002.0,2020.0,10/02/2020,Ashford,390 TURNPIKE RD,25300000.0,43000000.0,5883.0,Residential,Single Family,NaN,NaN,NaN
2,200212.0,2020.0,03/09/2021,Avon,5 CHESTNUT DRIVE,13040000.0,17990000.0,7248.0,Residential,Condo,NaN,NaN,NaN
3,200243.0,2020.0,04/13/2021,Avon,111 NORTHINGTON DRIVE,61929000.0,89000000.0,6958.0,Residential,Single Family,NaN,NaN,NaN
4,200377.0,2020.0,07/02/2021,Avon,70 FAR HILLS DRIVE,86233000.0,144750000.0,5957.0,Residential,Single Family,NaN,NaN,NaN
5,200109.0,2020.0,12/09/2020,Avon,57 FAR HILLS DRIVE,84752000.0,125000000.0,678.0,Residential,Single Family,NaN,NaN,NaN
6,2020180.0,2020.0,03/01/2021,Berlin,1539 FARMINGTON AVE,23420000.0,13000000.0,18015.0,Residential,Two Family,08 - Part Interest,NaN,NaN
7,2020313.0,2020.0,07/01/2021,Berlin,216 WATCH HILL RD,41200000.0,67750000.0,6081.0,Residential,Single Family,NaN,NaN,NaN
8,200097.0,2020.0,06/04/2021,Bethany,23 AMITY RD,51100000.0,79500000.0,6427.0,Commercial,NaN,NaN,NaN,NaN
9,20139.0,2020.0,12/16/2020,Bethel,16 DEEPWOOD DRIVE,17136000.0,33500000.0,5115.0,Residential,Single Family,NaN,NaN,NaN

In [11]:
df.rename({'Serial Number':'SerialNumber'},axis=1,inplace=True)
df.rename({'List Year':'ListYear'},axis=1,inplace=True)
df.rename({'Date Recorded':'DateRecorded'},axis=1,inplace=True)
df.rename({'Town':'Town'},axis=1,inplace=True)
df.rename({'Address':'Address'},axis=1,inplace=True)
df.rename({'Sale Amount':'SaleAmount'},axis=1,inplace=True)
df.rename({'Sales Ratio':'SalesRatio'},axis=1,inplace=True)
df.rename({'Property Type':'PropertyType'},axis=1,inplace=True)
df.rename({'Residential Type':'ResidentialType'},axis=1,inplace=True)
df.rename({'Non Use Code':'NoNuseCode'},axis=1,inplace=True)
df.rename({'Assessor Remarks':'AssessorRemarks'},axis=1,inplace=True)
df.rename({'OPM remarks':'OpmRemarks'},axis=1,inplace=True)  
df.columns

Index(['SerialNumber', 'ListYear', 'DateRecorded', 'Town', 'Address',
       'Assessed Value', 'SaleAmount', 'SalesRatio', 'PropertyType',
       'ResidentialType', 'NoNuseCode', 'AssessorRemarks', 'OpmRemarks'],
      dtype='object')

In [12]:
df.head(5)

,SerialNumber,ListYear,DateRecorded,Town,Address,Assessed Value,SaleAmount,SalesRatio,PropertyType,ResidentialType,NoNuseCode,AssessorRemarks,OpmRemarks
0,2020348.0,2020.0,09/13/2021,Ansonia,230 WAKELEE AVE,15050000.0,32500000.0,463.0,Commercial,NaN,NaN,NaN,NaN
1,20002.0,2020.0,10/02/2020,Ashford,390 TURNPIKE RD,25300000.0,43000000.0,5883.0,Residential,Single Family,NaN,NaN,NaN
2,200212.0,2020.0,03/09/2021,Avon,5 CHESTNUT DRIVE,13040000.0,17990000.0,7248.0,Residential,Condo,NaN,NaN,NaN
3,200243.0,2020.0,04/13/2021,Avon,111 NORTHINGTON DRIVE,61929000.0,89000000.0,6958.0,Residential,Single Family,NaN,NaN,NaN
4,200377.0,2020.0,07/02/2021,Avon,70 FAR HILLS DRIVE,86233000.0,144750000.0,5957.0,Residential,Single Family,NaN,NaN,NaN

<h2 Style = "color:#2e4347"> 3. Manejo de datos Faltantes </h2>

In [13]:
df.isna().sum()/df.shape[0]*100

SerialNumber        0.000998
ListYear            0.168717
DateRecorded        0.169715
Town                0.168717
Address             0.170713
Assessed Value      0.171212
SaleAmount          0.171212
SalesRatio          0.171212
PropertyType       66.664504
ResidentialType    69.583600
NoNuseCode         77.164863
AssessorRemarks    92.840029
OpmRemarks         99.011161
dtype: float64

In [14]:
dfimput01 = df.dropna()

In [15]:
df.replace(' ', np.nan,inplace=True)
df.head()

,SerialNumber,ListYear,DateRecorded,Town,Address,Assessed Value,SaleAmount,SalesRatio,PropertyType,ResidentialType,NoNuseCode,AssessorRemarks,OpmRemarks
0,2020348.0,2020.0,09/13/2021,Ansonia,230 WAKELEE AVE,15050000.0,32500000.0,463.0,Commercial,NaN,NaN,NaN,NaN
1,20002.0,2020.0,10/02/2020,Ashford,390 TURNPIKE RD,25300000.0,43000000.0,5883.0,Residential,Single Family,NaN,NaN,NaN
2,200212.0,2020.0,03/09/2021,Avon,5 CHESTNUT DRIVE,13040000.0,17990000.0,7248.0,Residential,Condo,NaN,NaN,NaN
3,200243.0,2020.0,04/13/2021,Avon,111 NORTHINGTON DRIVE,61929000.0,89000000.0,6958.0,Residential,Single Family,NaN,NaN,NaN
4,200377.0,2020.0,07/02/2021,Avon,70 FAR HILLS DRIVE,86233000.0,144750000.0,5957.0,Residential,Single Family,NaN,NaN,NaN

<h2 Style = "color:#2e4347"> 4.Contar valores faltantes </h2>

In [16]:
dftemp=df.isnull()# donde hay un verdadero hay un dato faltante
dftemp.head(5)

,SerialNumber,ListYear,DateRecorded,Town,Address,Assessed Value,SaleAmount,SalesRatio,PropertyType,ResidentialType,NoNuseCode,AssessorRemarks,OpmRemarks
0,False,False,False,False,False,False,False,False,False,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,True,True,True
2,False,False,False,False,False,False,False,False,False,False,True,True,True
3,False,False,False,False,False,False,False,False,False,False,True,True,True
4,False,False,False,False,False,False,False,False,False,False,True,True,True

In [17]:
for clumn in dftemp.columns.values.tolist():# indica cuantos valores faltantes hay en cada columna
    print(clumn)
    print(dftemp[clumn].value_counts())
    print("")

SerialNumber
False    200334
True          2
Name: SerialNumber, dtype: int64

ListYear
False    199998
True        338
Name: ListYear, dtype: int64

DateRecorded
False    199996
True        340
Name: DateRecorded, dtype: int64

Town
False    199998
True        338
Name: Town, dtype: int64

Address
False    199994
True        342
Name: Address, dtype: int64

Assessed Value
False    199993
True        343
Name: Assessed Value, dtype: int64

SaleAmount
False    199993
True        343
Name: SaleAmount, dtype: int64

SalesRatio
False    199993
True        343
Name: SalesRatio, dtype: int64

PropertyType
True     133553
False     66783
Name: PropertyType, dtype: int64

ResidentialType
True     139401
False     60935
Name: ResidentialType, dtype: int64

NoNuseCode
True     154589
False     45747
Name: NoNuseCode, dtype: int64

AssessorRemarks
True     185992
False     14344
Name: AssessorRemarks, dtype: int64

OpmRemarks
True     198355
False      1981
Name: OpmRemarks, dtype: int64

In [18]:
df.dtypes

SerialNumber       float64
ListYear           float64
DateRecorded        object
Town                object
Address             object
Assessed Value     float64
SaleAmount         float64
SalesRatio         float64
PropertyType        object
ResidentialType     object
NoNuseCode          object
AssessorRemarks     object
OpmRemarks          object
dtype: object

In [19]:
df.describe()

       SerialNumber       ListYear  Assessed Value    SaleAmount    SalesRatio
count  2.003340e+05  199998.000000    1.999930e+05  1.999930e+05  1.999930e+05
mean   1.114479e+06    2007.821553    2.207152e+07  3.917854e+07  3.315238e+08
std    1.272892e+07       8.655682    1.167706e+08  1.129725e+09  5.379511e+08
min    0.000000e+00    2001.000000    0.000000e+00  0.000000e+00  0.000000e+00
25%    1.097300e+04    2001.000000    6.916100e+06  1.300000e+07  5.781000e+03
50%    2.040300e+04    2002.000000    1.098900e+07  2.150000e+07  3.260916e+08
75%    2.000610e+05    2020.000000    1.874300e+07  3.550000e+07  5.171552e+08
max    2.000500e+09    2020.000000    1.149242e+10  5.000000e+11  9.999574e+09

<h2 Style = "color:#2e4347"> 5. Imputacion de valores </h2>

In [20]:
df['DateRecorded'].value_counts().idxmax()

'07/01/2002'

df['SalesRatio'].value_counts().idxmax()

In [21]:
df['Town'].value_counts().idxmax()

'Stamford'

In [22]:
df['Address'].value_counts().idxmax()

'MULTI ADDRESSES'

In [23]:
df['SaleAmount'].value_counts().idxmax()

15000000.0

In [24]:
df['PropertyType'].value_counts().idxmax()

'Residential'

In [25]:
df['ResidentialType'].value_counts().idxmax()

'Single Family'

In [26]:
df['NoNuseCode'].value_counts().idxmax()

'7'

In [27]:
df['AssessorRemarks'].value_counts().idxmax()

'ESTATE SALE'

In [28]:
df['OpmRemarks'].value_counts().idxmax()

'GOOD SALE PER MLS'

In [29]:
df["DateRecorded"].replace(np.nan,'datetime.datetime(2002, 1, 7, 0, 0)', inplace= True)# Para efectos de proyecto se imputa la fecha por la más repetida
df["SalesRatio"].replace(np.nan,'0', inplace= True)
df["Town"].replace(np.nan,'Stamford', inplace= True)
df["Address"].replace(np.nan,'MULTI ADDRESSES', inplace= True)
df["SaleAmount"].replace(np.nan,'150000.00', inplace= True)
df["PropertyType"].replace(np.nan,'Residential', inplace= True)
df["ResidentialType"].replace(np.nan,'Single Family', inplace= True)
df["NoNuseCode"].replace(np.nan,'7', inplace= True)
df["AssessorRemarks"].replace(np.nan,'ESTATE SALE', inplace= True)
df["OpmRemarks"].replace(np.nan,'GOOD SALE PER MLS', inplace= True)

In [30]:
df.dropna(subset = ["SalesRatio"], axis=0, inplace=True) 
df.reset_index (drop=True, inplace=True)  # se determina que los valores faltantes en Sales ratio no influyen en las preguntas y 
                                          # no alteran el resultado por lo que  se imputan y se borran.

In [31]:
dftemp=df.isnull()
for clumn in dftemp.columns.values.tolist():# indica cuantos valores faltantes hay en cada columna
    print(clumn)
    print(dftemp[clumn].value_counts())
    print("")

SerialNumber
False    200334
True          2
Name: SerialNumber, dtype: int64

ListYear
False    199998
True        338
Name: ListYear, dtype: int64

DateRecorded
False    200336
Name: DateRecorded, dtype: int64

Town
False    200336
Name: Town, dtype: int64

Address
False    200336
Name: Address, dtype: int64

Assessed Value
False    199993
True        343
Name: Assessed Value, dtype: int64

SaleAmount
False    200336
Name: SaleAmount, dtype: int64

SalesRatio
False    200336
Name: SalesRatio, dtype: int64

PropertyType
False    200336
Name: PropertyType, dtype: int64

ResidentialType
False    200336
Name: ResidentialType, dtype: int64

NoNuseCode
False    200336
Name: NoNuseCode, dtype: int64

AssessorRemarks
False    200336
Name: AssessorRemarks, dtype: int64

OpmRemarks
False    200336
Name: OpmRemarks, dtype: int64

In [32]:
df= df.drop ("NoNuseCode", axis=1)
df= df.drop ("AssessorRemarks", axis=1)
df= df.drop ("OpmRemarks", axis=1)

In [33]:
dftemp=df.isnull()
for clumn in dftemp.columns.values.tolist():# indica cuantos valores faltantes hay en cada columna
    print(clumn)
    print(dftemp[clumn].value_counts())
    print("")

SerialNumber
False    200334
True          2
Name: SerialNumber, dtype: int64

ListYear
False    199998
True        338
Name: ListYear, dtype: int64

DateRecorded
False    200336
Name: DateRecorded, dtype: int64

Town
False    200336
Name: Town, dtype: int64

Address
False    200336
Name: Address, dtype: int64

Assessed Value
False    199993
True        343
Name: Assessed Value, dtype: int64

SaleAmount
False    200336
Name: SaleAmount, dtype: int64

SalesRatio
False    200336
Name: SalesRatio, dtype: int64

PropertyType
False    200336
Name: PropertyType, dtype: int64

ResidentialType
False    200336
Name: ResidentialType, dtype: int64

In [34]:
df.head(5)

,SerialNumber,ListYear,DateRecorded,Town,Address,Assessed Value,SaleAmount,SalesRatio,PropertyType,ResidentialType
0,2020348.0,2020.0,09/13/2021,Ansonia,230 WAKELEE AVE,15050000.0,32500000.0,463.0,Commercial,Single Family
1,20002.0,2020.0,10/02/2020,Ashford,390 TURNPIKE RD,25300000.0,43000000.0,5883.0,Residential,Single Family
2,200212.0,2020.0,03/09/2021,Avon,5 CHESTNUT DRIVE,13040000.0,17990000.0,7248.0,Residential,Condo
3,200243.0,2020.0,04/13/2021,Avon,111 NORTHINGTON DRIVE,61929000.0,89000000.0,6958.0,Residential,Single Family
4,200377.0,2020.0,07/02/2021,Avon,70 FAR HILLS DRIVE,86233000.0,144750000.0,5957.0,Residential,Single Family

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200336 entries, 0 to 200335
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SerialNumber     200334 non-null  float64
 1   ListYear         199998 non-null  float64
 2   DateRecorded     200336 non-null  object
 3   Town             200336 non-null  object
 4   Address          200336 non-null  object
 5   Assessed Value   199993 non-null  float64
 6   SaleAmount       200336 non-null  object
 7   SalesRatio       200336 non-null  object
 8   PropertyType     200336 non-null  object
 9   ResidentialType  200336 non-null  object
dtypes: float64(3), object(7)
memory usage: 15.3+ MB

In [36]:
df.dropna(subset=['SerialNumber'],axis=0,inplace=True)
df.reset_index(drop=True, inplace=True)

In [37]:
dftemp=df.isnull()
for clumn in dftemp.columns.values.tolist():# indica cuantos valores faltantes hay en cada columna
    print(clumn)
    print(dftemp[clumn].value_counts())
    print("")

SerialNumber
False    200334
Name: SerialNumber, dtype: int64

ListYear
False    199998
True        336
Name: ListYear, dtype: int64

DateRecorded
False    200334
Name: DateRecorded, dtype: int64

Town
False    200334
Name: Town, dtype: int64

Address
False    200334
Name: Address, dtype: int64

Assessed Value
False    199993
True        341
Name: Assessed Value, dtype: int64

SaleAmount
False    200334
Name: SaleAmount, dtype: int64

SalesRatio
False    200334
Name: SalesRatio, dtype: int64

PropertyType
False    200334
Name: PropertyType, dtype: int64

ResidentialType
False    200334
Name: ResidentialType, dtype: int64

In [38]:
df.describe()

       SerialNumber       ListYear  Assessed Value
count  2.003340e+05  199998.000000    1.999930e+05
mean   1.114479e+06    2007.821553    2.207152e+07
std    1.272892e+07       8.655682    1.167706e+08
min    0.000000e+00    2001.000000    0.000000e+00
25%    1.097300e+04    2001.000000    6.916100e+06
50%    2.040300e+04    2002.000000    1.098900e+07
75%    2.000610e+05    2020.000000    1.874300e+07
max    2.000500e+09    2020.000000    1.149242e+10

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200334 entries, 0 to 200333
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SerialNumber     200334 non-null  float64
 1   ListYear         199998 non-null  float64
 2   DateRecorded     200334 non-null  object
 3   Town             200334 non-null  object
 4   Address          200334 non-null  object
 5   Assessed Value   199993 non-null  float64
 6   SaleAmount       200334 non-null  object
 7   SalesRatio       200334 non-null  object
 8   PropertyType     200334 non-null  object
 9   ResidentialType  200334 non-null  object
dtypes: float64(3), object(7)
memory usage: 15.3+ MB

<h2 Style = "color:#2e4347"> 6. Estandarizacion de datos </h2>

In [40]:
df['SalesRatio'].astype(str).str.replace(",", "").astype(float)

0               463.0
1              5883.0
2              7248.0
3              6958.0
4              5957.0
             ...
200329    394972067.0
200330    467728155.0
200331    617923077.0
200332    532538462.0
200333    489253333.0
Name: SalesRatio, Length: 200334, dtype: float64

<p>1. ¿Cuál es el ingreso anual de las propiedades vendidas?</p>

In [ ]:
df['SaleAmount'].sum()

<p>1. Deacuerdo al estudio realizado el ingreso anual es de  7835433956802.0 </p>

In [ ]:
df['SaleAmount']= pd.to_numeric(df['SaleAmount'],errors='coerce')# coaccionar "coerce" el analisis no valido se establecera NaN
ingresoanual=df.groupby('ListYear')['SaleAmount'].sum()#Una operación groupby implica alguna combinación de dividir el objeto,
#aplicando una función y combinando los resultados.
#Esto puede ser Se utiliza para agrupar grandes cantidades de datos y operaciones de cómputo en estos grupos.
print(ingresoanual)

In [ ]:
df['PropertyType'].value_counts().idxmax()

In [ ]:
df['Town'].value_counts().idxmax()

In [ ]:
df['ResidentialType'].value_counts().idxmax()

In [ ]:
plt.scatter(df['ListYear'],df['SaleAmount'] )
plt.title('Ingreso anual de propiedades vencidas')
plt.xlabel('Year')# para colocar los nombres en x y y 
plt.ylabel('Ingreso anual')
ingresomax=ingresoanual.idxmax()
plt.show()

In [ ]:
fig, ax = plt.subplots(1,1, figsize = (15,6.9), dpi=100)

n = 222
x = df['ListYear']
y = df['SaleAmount']

ax.scatter(x, y, c='#eb7f7f', alpha=0.3, edgecolors='none')
ax.grid(True)
title = "Grafico 2: Vehiculos en Inventario"
plt.suptitle(title,
            horizontalalignment = 'left',
            x = 0.001,
            y = 0.87,
            transform = fig.transFigure,
            fontsize = 20,
            fontweight = "bold",
            fontfamily = "serif")

#formato del subtitulo
stitle = "¿Cuál es el ingreso anual de las propiedades vendidas? "
ax.set_title(stitle,
            horizontalalignment = 'left',
            x = 0.001,
            y = 0.80,
            transform = fig.transFigure,
            fontsize = 11,
            fontweight = "regular",
            fontfamily = "serif")

#formato del eje X
etiqueta = "Year"
ax.set_xlabel(etiqueta,
             ha = 'left',
             fontsize = 10,
             fontweight = "regular",
             fontfamily = "serif")

#formato del eje Y
etiqueta_y = " Monto "
ax.set_ylabel(etiqueta_y,
             ha = 'left',
             fontsize = 10,
             fontweight = "regular",
             fontfamily = "serif")

#Configuracion de coordenadas de la etique del eje x - y
ax.xaxis.set_label_coords(x=0, y= -0.08, transform= ax.transAxes)
ax.yaxis.set_label_coords(x=-0.03, y= 0.53, transform= ax.transAxes)

#configuracion del tamano
ax.tick_params(axis='both', 
               labelsize = 10)

#Congiruacion de la ubicacion del grafico
plt.subplots_adjust(top=0.78)


plt.show()

In [ ]:
profacilventa=df['PropertyType'].value_counts()
print(profacilventa)

In [ ]:
profacilventa.plot(kind='bar')
plt.title('Propiedades facil venta')
plt.xlabel('Tipo de propiedades')# para colocar los nombres en x y y 
plt.ylabel('Cantidad')

plt.show()

In [ ]:
<p> Deacuerdo al estudio realizado la propiedad con mayor facilidad en venta en primer lugar es la Recidential , en segundo lugar Vacant land y en tercer lugar Comercial</p>